@import url(
'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap'
);


*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

font-family:Poppins,sans-serif;

background:#050816;

color:white;

}



html{

scroll-behavior:smooth;

}





/* NAVBAR */


nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 10%;

position:sticky;

top:0;

background:#050816;

z-index:100;


}



nav h2{

font-size:30px;

}


nav span{

color:#00e5ff;

}



nav a{

color:white;

text-decoration:none;

margin-left:25px;

}



nav a:hover{

color:#00e5ff;

}





/* HERO */


header{

min-height:90vh;

display:flex;

align-items:center;

padding:50px 10%;


background:

radial-gradient(circle at right,#2563eb,transparent 40%);


}



.hero{

display:flex;

align-items:center;

justify-content:space-between;

width:100%;

}



.hero-text{

max-width:600px;

}



.hero h1{

font-size:60px;

}



.hero span{

color:#00e5ff;

}



.hero h2{

font-size:28px;

margin:20px 0;

}



.hero p{

color:#cbd5e1;

font-size:18px;

}




.profile img{

width:320px;

height:320px;

border-radius:50%;

border:6px solid #00e5ff;

}





.buttons{

margin-top:30px;

}


.btn,
.btn-outline{


padding:14px 30px;

border-radius:30px;

text-decoration:none;

margin-right:15px;


}



.btn{

background:#2563eb;

color:white;

}



.btn-outline{

border:1px solid #00e5ff;

color:white;

}





/* SECTIONS */


section{

width:85%;

margin:80px auto;

}



section h2{

text-align:center;

font-size:40px;

color:#00e5ff;

margin-bottom:40px;

}




.card{


background:

rgba(255,255,255,.08);


padding:30px;

border-radius:20px;

border:1px solid rgba(255,255,255,.1);


}




/* SKILLS */


.skills{


display:grid;

grid-template-columns:

repeat(auto-fit,minmax(150px,1fr));


gap:20px;


}



.skills div{


padding:30px;

background:#111827;

border-radius:20px;

text-align:center;


transition:.3s;


}



.skills div:hover{


transform:translateY(-10px);

background:#2563eb;


}





/* PROJECTS */


.project{


display:flex;

gap:30px;

background:#111827;

padding:30px;

border-radius:20px;

margin-bottom:30px;


}



.project img{


width:300px;

border-radius:15px;


}



.project h3{

color:#00e5ff;

}





footer{

text-align:center;

padding:30px;

background:#020617;

}





@media(max-width:800px){


.hero{

flex-direction:column;

text-align:center;

}


.hero h1{

font-size:40px;

}


.profile img{

margin-top:40px;

}


.project{

flex-direction:column;

}


.project img{

width:100%;

}



nav{

flex-direction:column;

}


}
